body{
  margin-top: -35px;
  padding: 0px;
}

.iconleft{
  position: absolute;
  top: 20px;
  left: 20px;
}

.iconright{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.zemestan{
  color: blue;
  background-color: orange;
}

.tabestan{
  color: yellow;
  background-color: aliceblue;
}

.txtseason{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
